<mat-card appMaterialElevation class="mat-elevation-z4">
    <img class="img" mat-card-image [src]="resource.img">
    <mat-card-content>
        <p class="title-text">{{ resource.titulo }}</p>
        <p class="normal-text">{{ resource.contenido }}</p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <mat-chip-list class="aling-content" *ngFor="let tag of resource.tags; index as i;">
            <mat-chip [ngStyle]="getStyle(tag)" selected>{{ tags[tag].name }}</mat-chip>
        </mat-chip-list> -->
    </mat-card-actions>
</mat-card>