
.home-wrapper{
  width: 100%;
  margin: 0;
  overflow-x: hidden; 
}

.home-header-wrapper {
  width: 100%;
  height: auto;
  padding: 120px 0 0 0;
  background: url("src/assets/wave_home_migala.svg") no-repeat;
  background-size: cover;
  background-position-x: -520px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
}

.home-header-titles {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.home-header-content {
  width: 95%;
  display:flex;
  justify-content: center;
}

.home-header-video {
  background-color: #000;
  overflow: hidden;
  width: 950px;
  height: 400px;
  margin-bottom: 15px;
}

.title-page{
  color: white;
  font-size: calc(16px + 5vmin);
  font-weight: 550;
  text-align: left;
}

.title-estado {
  color: #ffd740;
}

.text-page{
  color: white;
  font-size: 20px;
  text-align: left;
  width: 80%;
}

.button-content {
  margin-top: 60px;
  margin-right: 30%;
  align-self: center;
}

.button-page {
  height: 50px;
  font-size: 25px;
}

.button-text {
  color: white;
}

.button-url {
  color: #ffd740;
  cursor: pointer;
  font-weight: 1000;
}

.nosotrxs {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0 !important;
  margin-bottom: 4%;
}

.redes-sociales {
  color: #ffd740;
  margin-top: 5%;
  align-self: center;
}

.redes-sociales-text {
  align-self: center;
  font-size: calc(5px + 3vmin);
  font-weight: 700;
}

.redes-sociales-title {
  align-self: center;
  font-size: calc(5px + 3vmin);
  font-weight: 700;
}

.redes-sociales-content {
  align-self: center;
}

.redes-sociales-content-url {
  color: #ffd740;
}

.icon-display {
  transform: scale(3.5);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 0;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  margin-bottom: 4%;
}

.actividades-title {
  margin-top: 7%;
  padding-bottom: 3%;
  text-align: center;
  font-weight: 550;
  font-size: calc(5px + 5vmin);
}

.actividades {
  display: flex;
  margin-top: 0 !important;
  margin-bottom: 2%;
}

.actividades-calendar {
  width: 70%;
}

.actividades-center-content {
  display: flex;
  justify-content: center;
}

.actividades-text-content {
  justify-content: right;
  align-items: center;
  max-width: 40%;
}

.actividades-text-content-cont {
  padding-bottom: 5%;
}

.actividades-text-content-text {
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 0 !important;
}

.actividades-text-content-summary {
  width: 60%;
}

.actividades-text-content-summary-text {
  text-align: left;
  font-size: 17px;
}

.actividades-text-content-summary-button {
  height: 50px;
  font-size: 25px;
  margin-top: 7%;
  border-radius: 25px;
}

.actividades-text-content-summary-button-container {
  display: flex;
  justify-content: center;
}
