<div class="main-wrapper">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Quienes Somos">
      <div class="center-content">
        <div>
          <h1>Quienes Somos</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Organigrama">
      <div class="center-content">
        <img src="assets/img/organigrama.png" width="750px" height="450px">
        <button mat-flat-button color="primary" class="button-page">
          Documento Completo
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Movimientos Locales">
      <div class="center-content">
        <div>
          <h1>Movimientos Locales</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>