<div class="main-wrapper">
  <h1 class="proyectos-title">Proyectos</h1>
  <div class="content">
    <div class="resource-min-wrapper">
      <div class="resource-min-item" *ngFor="let resource of resources">
        <resource-generic-component [resource]="resource"></resource-generic-component>
      </div>
    </div>
    <div class="button-content">
      <button routerLink="/proyectos" mat-flat-button color="primary" class="proyectos-button">
        Conoce más
      </button>
    </div>
  </div>
</div>
