/* You can add global styles to this file, and also import other style files */

@import "app/theme/animation.css";
@import "~@fortawesome/fontawesome-free/css/all.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar{
  height: 5px;
  width: 8px
}
::-webkit-scrollbar-track{
  background: #f7f7f7;
  border-radius:10px;
}
::-webkit-scrollbar-thumb{
  background:#e3e3e3;
  border-radius: 10px;
}
